# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Build artifacts
bin/
obj/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.vs

# Git
*.git
*.vscode

# Ignore Docker-related files (EXCEPT Dockerfile & docker-compose.yml)
**/.dockerignore

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env*.local
echo "backend-dotnet/out/out/FirebaseCredentials/ServiceAccountKey.json" >> .gitignore
git add .gitignore
git commit -m "Added Firebase credentials to .gitignore"
